{% load static %}

<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico">
    <title>applejq</title>

      <link href="{% static 'js/about.fe6d4830.js' %}" rel="prefetch">
      <link href="{% static 'css/app.d2ebd851.css' %}" rel="preload" as="style">
      <link href="{% static 'js/app.8bc3bcff.js' %}" rel="preload" as="script">
      <link href="{% static 'js/chunk-vendors.f4fa660e.js' %}" rel="preload" as="script">
      
    <link rel="stylesheet" href="{% static 'css/app.d2ebd851.css' %}">    
</head>

<body><noscript><strong>We're sorry but applejq doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>    
    <script src="{% static 'js/chunk-vendors.f4fa660e.js' %}"></script>
    <script src="{% static 'js/app.8bc3bcff.js' %}"></script>
</body>

</html>





